<div class="container-fluid min-vh-100">
    <div class="row min-vh-100">

        <!-- LEFT SIDE : Branding (Desktop Only) -->
        <div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center bg-health">
            <div class="text-white px-5">
                <div class="d-flex align-items-center mb-4">
                    <img src="/assets/images/HealthNet-logo.png" alt="HealthNet Logo" class="me-3 logo" />
                </div>

                <p class="fs-5">
                    Public Health &amp; Disease Surveillance System
                </p>

                <ul class="mt-4 fs-6">
                    <li>Track disease outbreaks in real time</li>
                    <li>Secure access for doctors &amp; labs</li>
                    <li>Integrated public health records</li>
                    <li>Compliance &amp; audit-ready platform</li>
                </ul>

                <p class="mt-4 text-light small">
                    Supporting citizens, hospitals, and public health agencies
                    with reliable epidemiological data.
                </p>
            </div>
        </div>

        <!-- RIGHT SIDE : Signup Form -->
        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
            <div class="w-100 px-4 px-sm-5">

                <h3 class="text-center fw-bold mb-4 d-lg-none">
                    HealthNet Signup
                </h3>

                <div class="card shadow-lg border-0 rounded-4">
                    <div class="card-body p-4 p-md-5">
                        <h4 class="text-center mb-4 fw-semibold">
                            Create Account
                        </h4>

                        <form (ngSubmit)="onSubmit()" #signupForm="ngForm">

                            <!-- Name -->
                            <div class="mb-3">
                                <label class="form-label">Full Name</label>
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text">
                                      <i class="bi bi-person"></i>
                                    </span>
                                
                                    <input
                                      type="text"
                                      class="form-control"
                                      placeholder="John Doe"
                                      [(ngModel)]="name"
                                      name="name"
                                      required
                                    />
                                  </div>
                            </div>

                            <!-- Email -->
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text">
                                      <i class="bi bi-envelope"></i>
                                    </span>
                                <input type="email" class="form-control" placeholder="name@email.com"
                                    autocomplete="username" [(ngModel)]="email" name="email" required />
                                </div>
                            </div>

                            <!-- Password -->
                            <div class="mb-1">
                                <label class="form-label">Password</label>
                                
                                <div class="input-group input-group-lg">
                                    
                                    <input [type]="seePassword? 'text' : 'password'" class="form-control" placeholder="Enter password"
                                        autocomplete="new-password" (input)="onPasswordChange()" [(ngModel)]="password" name="password" required />
                                    
                                    <span class="input-group-text" style="cursor: pointer" (click)="showPassword()">
                                      <i [ngClass]="seePassword? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                                    </span>
                                </div>
                                    <p class="text-danger" *ngIf="!isStrongPassword">*Password Must Have atleast one upper case ,
                                     one lower case, one special , one numeric  and length eight characters</p>
                            </div>
                            

                            <!-- Confirm Password -->
                            <div class="mb-3">
                                <label class="form-label">Confirm Password</label>

                                <div class="input-group input-group-lg">
                                    <input [type]="seeConfirmPassword? 'text' : 'password'" class="form-control form-control-lg"
                                        placeholder="Confirm password" autocomplete="new-password"
                                        (input)="onConfirmPasswordChange()"
                                        [(ngModel)]="confirmPassword" name="confirmPassword" required />
                                    
                                    <span class="input-group-text" style="cursor: pointer" (click)="showConfirmPassword()">
                                      <i [ngClass]="seeConfirmPassword? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="text-warning" *ngIf="confirmPassword && !passwordMatch">*Password do not match</div>
                            
                            <!-- Phone and Role -->
                            <div class="mb-1 d-flex flex-row gap-1">
                                
                                <!-- Phone -->
                                <div class="mb-1 w-50">
                                    <label class="form-label">Phone Number</label>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text">
                                            <i class="bi bi-telephone"></i>
                                        </span>                                    
                                        <input type="tel" class="form-control form-control-lg" placeholder="+91 9398XXXXXX"
                                            (input)="onPhoneNumberChange()" [(ngModel)]="phoneNumber" name="phoneNumber" required />
                                
                                    </div>
                                </div>

                                <!-- Role Dropdown -->
                                <div class="mb-1 w-50">
                                    <label class="form-label">Role</label>
                                    <select class="form-select form-select-lg" [(ngModel)]="role" name="role" required>
                                        <option value="" disabled selected>
                                            Select role
                                        </option>
                                        <option value="Citizen">Citizen</option>
                                        <option value="Doctor">Doctor</option>
                                        <option value="Lab Technician">Lab Technician</option>
                                        <option value="Compliance Officer">Compliance Officer</option>
                                        <option value="Researcher">Researcher</option>
                                        <option value="Public Health Officer">Public Health Officer</option>
                                        <option value="Admin">Admin</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Error Message -->
                            <div class="text-danger text-left medium mb-3" *ngIf="errMsg">
                                {{ errMsg }}
                            </div>

                            <!-- Submit -->
                            <button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="signupForm.invalid">
                                <i class="bi bi-person-plus-fill"></i>
                                {{isSubmitting? "Signing Up" : "Sign Up"}}
                                
                            </button>
                        </form>

                        <!-- Login Redirect -->
                        <div class="text-center mt-3">
                            <p class="mb-0">
                                Already have an account?
                                <a routerLink="/login"> Login here</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>