<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom d-none d-lg-flex fixed-top">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand fw-bold text-dark" routerLink="/">
      {{ appName }}
    </a>

    <!-- Navigation Links -->
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/compliance">Compliance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/outbreaks">Outbreaks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lab-tests">Labs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>

    <!-- Auth Buttons -->
    <div class="d-flex gap-2" *ngIf="!isLoggedIn">
      <a routerLink="/login" class="btn btn-outline-primary btn-sm">
        Login
      </a>
      <a routerLink="/register" class="btn btn-primary btn-sm">
        Sign Up
      </a>
    </div>
    <div class="d-flex gap-2" *ngIf="isLoggedIn">
      <div class="profile-container" (click)="toggleMenu($event)">
        <!-- {{nameLogo}} -->
         <!-- <mat-icon class="account-icon">
          account_circle
         </mat-icon> -->
         <i class="bi bi-person-circle" style="font-size: 30px;"></i>
         <i class="bi bi-caret-down"></i>
        <!-- Dropdown -->
        <div class="dropdown-menu-custom" *ngIf="menuOpen">
          <button (click)="goToProfile()">
            <i class="bi bi-person-badge"></i>
            Profile
          </button>
          <button (click)="logout()" class="custom-btn">
            <i class="bi bi-box-arrow-left"></i>
            Logout
          </button>
        </div>

      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-light bg-light border-bottom d-lg-none fixed-top">
  <div class="container-fluid">

    <button
      class="btn btn-outline-dark"
      data-bs-toggle="offcanvas"
      data-bs-target="#mobileSidebar">
      ☰
    </button>

    <span class="fw-bold text-dark">
      {{ appName }}
    </span>

  </div>
</nav>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="mobileSidebar">

  <div class="offcanvas-header">
    <h5 class="fw-bold text-dark">
      {{ appName }}
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas">
    </button>
  </div>

  <div class="offcanvas-body">
    <ul class="nav flex-column gap-2">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home" data-bs-dismiss="offcanvas">
          Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/compliance" data-bs-dismiss="offcanvas">
          Compliance
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/outbreaks" data-bs-dismiss="offcanvas">
          Outbreaks
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/labs" data-bs-dismiss="offcanvas">
          Labs
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/about" data-bs-dismiss="offcanvas">
          About
        </a>
      </li>

      <hr>
      
      <a *ngIf="!isLoggedIn" routerLink="/login" class="btn btn-outline-primary w-100 mb-2" data-bs-dismiss="offcanvas">
        <i class="bi bi-box-arrow-in-right"></i>
        Login
      </a>

      <a *ngIf="!isLoggedIn" routerLink="/register" class="btn btn-primary w-100" data-bs-dismiss="offcanvas">
        <i class="bi bi-person-plus-fill"></i>
        Sign Up
      </a>

      <a *ngIf="isLoggedIn" routerLink="/profile" class="btn btn-success w-100" data-bs-dismiss="offcanvas">
        <i class="bi bi-person-badge"></i>
        Profile
      </a>

      <a *ngIf="isLoggedIn" routerLink="/home" class="btn btn-danger w-100" data-bs-dismiss="offcanvas">
        <i class="bi bi-box-arrow-left"></i>
        Logout
      </a>

    </ul>
  </div>
</div>